<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeLeaf.org"><!--convertir palntilla a thymeLeaf-->


<head th:insert="~{administrador/template_admin.html::head}"></head>

<body>

	<!-- ======= Header ======= -->
	<div th:insert="~{administrador/template_admin.html::header}">
	</div><!-- End Header -->

	<!-- ======= Sidebar ======= -->
	<div th:insert="~{administrador/template_admin.html::aside}"></div>
	<!-- End Sidebar-->

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>Panel de administrador</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/administrador}">Home</a></li>
					<li class="breadcrumb-item active">administrador</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->

		<section class="section dashboard">
			<div class="row aling-items-top">
				<div class="col-lg-4" th:each="producto: ${productos}">
					<div class="card">
						<img th:src="@{/images/{img} (img=${producto.imagen})}" clas="card-img-top"
							th:alt="${producto.nombre}">
						<div class="card-body">
							<h5 class="card-title" th:text="${producto.nombre}"></h5>
							<p class="card-text" th:text="${producto.descripcion}"></p>
						</div>
					</div>
				</div>
			</div>
		</section>

	</main><!-- End #main -->

	<!-- ======= Footer ======= -->
	<div th:insert="~{administrador/template_admin.html::footer}"></div>

	<!-- Vendor JS Files -->
	<div th:insert="~{administrador/template_admin.html::JS}"></div>

</body>

</html>